header{
	background: #5933c9
}
.caixa{
	position: relative;
	width: 940px;
	margin: auto;
}
.mundo{
	border: 2px solid black;
    border-radius: 50px;
    width: 300px;
	position: relative;
	

}
nav{
	position: absolute;
	top: 70px;
	right: 0;
	color: blue;
	

}
nav li {
display: inline;
margin: 0 0 0 15px
}
nav a {
	text-transform: uppercase ;
	color: rgb(208, 255, 0);
	font-weight: bold;
	font-size: 15px;
	text-decoration: nome;
}
nav a:hover{
	color:blue
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width:  30%;
	vertical-align: top;
	margin: 0 1,5%;
	padding: 20px 20px;
	box-sizing: border-box;
	border-color: #111111;
	border-width: 2px;
	border-style:double;
	border-radius: 10px;
 }

 .produtos li:hover{
			color:blue;
			font-weight: bold;
			font-size: 35px;
			
		}
.produtos li:active{
			border-color:rgb(10, 6, 211);
		}

.produtos li:hover h2{
	font-size: 25px;
}
.produtos h2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: slateblue;	
}

footer{
 text-align: right;
 background:#5933c9 ;
 color: yellow;
 font-size: 20px;
}